
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-interdisplay: var(--font-interdisplay), sans-serif;
  --font-ppneuemontreal: var(--font-ppneuemontreal), sans-serif;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'InterDisplay';
  src: url('/public/fonts/InterDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PPNeueMontreal';
  src: url('/public/fonts/ppneuemontreal-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}



/* Apply fonts */
body {
  font-family: InterDisplay ;
  letter-spacing: -0.05em; /* Adjusted unit */
}

h1, h2, h3, h4, h5, h6 {
  font-family: PPNeueMontreal;
  letter-spacing: -0.05em; /* Adjusted unit */
}

