
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-interdisplay: var(--font-interdisplay), sans-serif;
  --font-ppneuemontreal: var(--font-ppneuemontreal), sans-serif;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'InterDisplay';
  src: url('/public/fonts/InterDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('/public/fonts/ppneuemontreal-medium.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}



/* Apply fonts */
body {
  font-family: InterDisplay, sans-serif;
  letter-spacing: -1px;
  
   /* Adjusted unit */
}
p{
  color: #5D5D5DCC; /* a gray color with alpha */
  opacity: 0.8;
}

h1, h2, h3, h4, h5, h6,button,Link {
  font-family: NeueMontreal, sans-serif;
   letter-spacing: -1px; 

}

